<hr>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Ajout d'un logo -->
    <a class="navbar-brand" href="index.html">
      <img src="https://ih1.redbubble.net/image.444173704.6876/flat,550x550,075,f.jpg" width="60" height="60" alt="">
    </a>
    <!-- Coniguration si l'ecran est de petite taille -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- 	 onglet actuel	-->	 
      <ul class="nav nav-pills">
        <li class="nav-item ">
            <a [routerLink]="['/']">Accueil</a>
        </li>
        <li class="nav-item ">
            <a [routerLink]="['/demo']">Demo</a>
        </li>
        
      </ul>
    </div>
  </nav> 
<hr>
 